/* NAVBAR MAIN */
.navbar {
  height: 50px;
  width: 100%;
  background: #333;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  color: white;
}

/* LOGO */
.nav-logo {
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}

/* MENU LINKS */
.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links li:hover {
  color: #007bff;
}

/* MOBILE MENU BUTTON */
.menu-icon {
  width: 30px;
  cursor: pointer;
  display: none;
}

.menu-icon div {
  width: 100%;
  height: 3px;
  background: #000;
  margin: 5px 0;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    background: white;
    flex-direction: column;
    padding: 20px;
    width: 200px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
  }

  .nav-links.active {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}
